/*I don't think you can get away without style mate*/
body{
  margin:10px;
  overflow: hidden;
}
#content{
  position: absolute;
  width:calc(100% - 28px);
  height:calc(20% - 24px);
  top: 80%;
  color: white;
  font-family: 'Vampiro One', cursive;
  padding: 4px;
  font-size: 7vw;
}
